@media (max-width: 1024px) {
 .card {
    width: 45%;
    height: 311px;
}
.card__title {
    margin: 0 20px 

}
.card__title h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}


.card__btn {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
}


@media (max-width: 768px) {
    .header__wrapper {
        height: 68px;
    }

    .logo a {
        max-width: 130px;

    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu.rotate {
        transform: rotate(-45deg);
    }

    .rotate .line {
        background-color: rgb(118 118 118);

    }

    .rotate .first-line {
        transform: rotate(-90deg) translateX(4px);

    }

    .rotate .last-line {
        transform: rotate(-90deg) translateX(-4px);
    }

    .nav .navigation {
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 0;
    }

    .navigation.show {
        display: flex;
        justify-content: start;
        gap: 0;
        background: rgb(34, 34, 34);
        height: 100vh;
        width: 200px;

        position: fixed;
        z-index: 9999;
        right: 0;
        top: 0;
        padding: 68px 6px 0;
        overflow-y: auto;
        transition: width 0.5s ease-out;
    }





    .inaccessible {
        overflow: hidden;

    }

    .inaccessible .content-overlay {
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(22 22 22 / 62%);
        z-index: 999;
    }

    .inaccessible .main {
        pointer-events: none;
    }

    .navigation .navigation__item {
        margin: 0;
        text-align: center;
    }


    .navigation .navigation__link {

        display: block;
        width: 100%;
        text-align: right;
        line-height: 50px;
        padding: 0 10px 0 0;

    }

    .contact {

        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .privacy {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__wrapper {

        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .privacy {
        grid-row: 3 / span 1;
    }

    .contact {
        grid-row: 2 / span 1;
        grid-column: 1/ span 1;
        max-width: 560px;
        width: 100%;
    }

    .contact__email {
        padding: 7px;
    }

    .main {
        padding-top: 69px;
    }

 .card {
        width: 48%;
        min-width: 218px;

 }
}

@media (max-width: 485px) {
    .hero{
        height:217px;
    }
    .hero .first-title {
        font-size: 24px;
        line-height: 38px;
    }

    .hero .second-title {
        /* font-size: 22px;
        line-height: 38px; */
        font-size: 26px;
        line-height: 48px;
    }
   
 .card {
    width: 100%;
}
}