body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
}

.wrapper {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
}

.header__wrapper {

    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;


}


.header.scrolled {
    background: rgba(34, 34, 34, 0.95);
}

.logo {
    margin-right: 40px;
}

.logo a svg {
    max-width: 182px;
    width: 100%;
}


.nav {
    position: relative;
    z-index: 1000;
}

.nav .navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.navigation .navigation__link {
    padding: 0 10px;
    color: white;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.navigation__link.active,
.navigation__link:hover {
    color: rgb(0, 163, 224);
    transition: color .4s ease;
}

/* mobile-menu start */
.mobile-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: 21px;
    justify-content: space-between;
    transition: transform .33s ease-out;
    width: 26px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.mobile-menu .line {
    background-color: rgb(219 219 219);
    border-radius: 1.5px;
    height: 3px;
    width: 100%;
}

.mobile-menu .first-line {
    transform-origin: right;
    transition: transform .33s cubic-bezier(.54, -.81, .57, .57);
    width: 50%;

}

.mobile-menu .last-line {
    align-self: flex-end;
    transform-origin: left;
    transition: transform .33s cubic-bezier(.54, -.81, .57, .57);
    width: 50%;
}










/* mobile-menu end */

/* header end */
/* main  start */
main {
    padding-top: 80px;
    height: 2000px;
    /* To avoid content being hidden behind the fixed header */
}

section {
    padding: 100px 0;
    text-align: center;
}

#home {
    background: #f4f4f4;

}

#about {
    background: #e2e2e2;
}

#services {
    background: #d0d0d0;
}

#contact {
    background: #b8b8b8;
}